<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925542442896-pc9uorsdv3obhs1eh4ppjjaqth8ibg9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925542442896-pc9uorsdv3obhs1eh4ppjjaqth8ibg9j</string>
	<key>API_KEY</key>
	<string>AIzaSyDeRuNZSyXJVg6_mOlpCvMH0GhbA9_kMvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>925542442896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.SubstituteApp</string>
	<key>PROJECT_ID</key>
	<string>substitute-app-57b5d</string>
	<key>STORAGE_BUCKET</key>
	<string>substitute-app-57b5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925542442896:ios:b52c89c6c4175112eab515</string>
	<key>DATABASE_URL</key>
	<string>https://substitute-app-57b5d.firebaseio.com</string>
</dict>
</plist>